MC_HOST=example.server.net
MC_PORT=25565
MC_USERNAME=your_email_or_username
MC_PASSWORD=
MC_VERSION=
PRICE_KEYWORDS=price,sell,buy,shop,auction,market
CHAT_COMMAND_PREFIX=!
PRISMARINE_VIEWER_ENABLED=true
PRISMARINE_VIEWER_PORT=3000
PRISMARINE_VIEWER_FIRST_PERSON=false
PRISMARINE_VIEWER_VIEW_DISTANCE=6
PRISMARINE_VIEWER_PREFIX=
